# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [8]:
data1=np.linspace(1,4,100)
data2=np.linspace(1,3,100)
data3=np.linspace(10000,30000,100)
data1=pd.Series(data1)
data2=pd.Series(data2)
data3=pd.Series(data3)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
df=pd.concat([data1,data2,data3],axis=1)
df

           0         1             2
0   1.000000  1.000000  10000.000000
1   1.030303  1.020202  10202.020202
2   1.060606  1.040404  10404.040404
3   1.090909  1.060606  10606.060606
4   1.121212  1.080808  10808.080808
..       ...       ...           ...
95  3.878788  2.919192  29191.919192
96  3.909091  2.939394  29393.939394
97  3.939394  2.959596  29595.959596
98  3.969697  2.979798  29797.979798
99  4.000000  3.000000  30000.000000

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [11]:
df.columns=('bedrs', 'bathrs', 'price_sqr_meter')
df

       bedrs    bathrs  price_sqr_meter
0   1.000000  1.000000     10000.000000
1   1.030303  1.020202     10202.020202
2   1.060606  1.040404     10404.040404
3   1.090909  1.060606     10606.060606
4   1.121212  1.080808     10808.080808
..       ...       ...              ...
95  3.878788  2.919192     29191.919192
96  3.909091  2.939394     29393.939394
97  3.939394  2.959596     29595.959596
98  3.969697  2.979798     29797.979798
99  4.000000  3.000000     30000.000000

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [15]:
bigcolumn=data1.append(data2)
bigcolumn=bigcolumn.append(data3)

In [16]:
bigcolumn

0         1.000000
1         1.030303
2         1.060606
3         1.090909
4         1.121212
          ...
95    29191.919192
96    29393.939394
97    29595.959596
98    29797.979798
99    30000.000000
Length: 300, dtype: float64

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [17]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [20]:
bigcolumn.reset_index(drop=True,inplace=True)

In [21]:
bigcolumn

0          1.000000
1          1.030303
2          1.060606
3          1.090909
4          1.121212
           ...
295    29191.919192
296    29393.939394
297    29595.959596
298    29797.979798
299    30000.000000
Length: 300, dtype: float64