# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [4]:
# dollar=lambda x:float(x[1:-1])
# chipo.item_price=chipo.item_price.apply(dollar)
# chipo.loc[chipo['item_price']>10.00]



chipo.item_price = [float(value[1:-1]) for value in chipo.item_price]
chipo.loc[chipo['item_price']>10.00]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [7]:
chipo.groupby('item_name').item_price.sum().sort_values(ascending=True)

item_name
Chips and Mild Fresh Tomato Salsa           3.00
Veggie Crispy Tacos                         8.49
Carnitas Salad                              8.99
Crispy Tacos                               14.80
Salad                                      14.80
Bowl                                       29.60
Steak Salad                                35.66
Chips and Roasted Chili-Corn Salsa         43.02
Burrito                                    44.40
Veggie Salad                               50.94
Chips and Tomatillo-Red Chili Salsa        59.75
Carnitas Salad Bowl                        66.34
Izze                                       67.80
Chips and Roasted Chili Corn Salsa         67.85
Veggie Soft Tacos                          73.96
Carnitas Crispy Tacos                      77.96
Chips and Tomatillo-Green Chili Salsa      78.87
Chicken Salad                              81.09
Nantucket Nectar                           98.31
Barbacoa Salad Bowl                       106.40
Barbacoa Crispy Tacos                     120.21
Chips and Tomatillo Green Chili Salsa     132.75
Canned Soda                               137.34
Chips and Tomatillo Red Chili Salsa       147.50
Veggie Salad Bowl                         182.50
Side of Chips                             185.90
Barbacoa Soft Tacos                       250.46
Bottled Water                             302.56
Steak Salad Bowl                          343.59
6 Pack Soft Drink                         356.95
Steak Crispy Tacos                        357.34
Chips and Fresh Tomato Salsa              361.36
Carnitas Soft Tacos                       375.94
Canned Soft Drink                         438.75
Chicken Crispy Tacos                      472.13
Chips                                     494.34
Steak Soft Tacos                          536.05
Carnitas Burrito                          597.83
Barbacoa Bowl                             672.36
Carnitas Bowl                             736.71
Veggie Bowl                               867.99
Barbacoa Burrito                          894.75
Veggie Burrito                            934.77
Chicken Soft Tacos                       1108.09
Chicken Salad Bowl                       1228.75
Chips and Guacamole                      2201.04
Steak Bowl                               2260.19
Steak Burrito                            3851.43
Chicken Burrito                          5575.82
Chicken Bowl                             7342.73
Name: item_price, dtype: float64

In [15]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

In [50]:
chipo_sam=chipo.loc[:,['item_name','item_price']]
chipo_sam

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [54]:
chipo_sam.sort_values(by='item_name')

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [70]:
chipo_sam['item_price'].max()

44.25

In [74]:
chipo_sam[chipo_sam['item_price'] == chipo_sam['item_price'].max()]

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [80]:
veg=chipo[(chipo['item_name'] == 'Veggie Salad Bowl')].quantity.sum()
veg

18

### Step 9. How many times people orderd more than one Canned Soda?

In [81]:
one_Canned=chipo[(chipo['item_name'] == 'Canned Soda')]

In [85]:
one_Canned[one_Canned['quantity']>1].sum()

order_id                                                          12789
quantity                                                             42
item_name             Canned SodaCanned SodaCanned SodaCanned SodaCa...
choice_description    [Sprite][Mountain Dew][Diet Coke][Diet Dr. Pep...
item_price                                                        45.78
dtype: object